---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <h1>About</h1>
  <p>I am originally from New Zealand, and spent much time in Australia
  growing up.
  I live in Tainan, the oldest city in Taiwan.
  It is a wonderful place to live.
  Taiwan is a safe, free, and peaceful country.</p>

  <p>I originally studied philosophy, before moving into computer science.
  I have been gravitating towards cognitive science and linguistics as
  my dissatisfaction with empiricist approaches to artificial intelligence
  continue to grow.</p>

  <p>The posts here are rough and mostly provide a place for me to jot down thoughts
  in a semi-systematic way - part of distillation process into proper research.
  When I get comments working on the site, any and all feedback is warmly
  welcomed and keenly encouraged. Before then please email me if you like,
  at tim dot niven dot public at gmail.</p>
</Layout>
