---
import Layout from '../layouts/Layout.astro';
import posts from '../data/posts.json';

const formatDate = (iso: string) =>
  new Date(iso).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });
---

<Layout title="Posts">
  <h1>Posts</h1>
  <ul class="post-list">
    {posts.map((post) => (
      <li>
        <span class="post-meta">{formatDate(post.date)}</span><br />
        <a href={`/posts/${post.slug}/`}>{post.title}</a>
      </li>
    ))}
  </ul>
</Layout>
