---
import Layout from '../layouts/Layout.astro';

const bibliographyHtml = `
<h2 id="2019">2019</h2>

<ol class="bibliography"><li><span id="NivenK19a">Niven, T., &amp; Kao, H.-Y. (2019). Probing Neural Network Comprehension of Natural Language Arguments. <i>Proceedings of the 57th Annual Meeting of the Association for Computational Linguistics</i>, 4658–4664. Retrieved from https://www.aclweb.org/anthology/P19-1459</span></li>
<li><span id="NivenK19b">Niven, T., &amp; Kao, H.-Y. (2019). Detecting Argumentative Discourse Acts with Linguistic Alignment. <i>Proceedings of the 6th Workshop on Argument Mining</i>, 104–112. Retrieved from https://www.aclweb.org/anthology/W19-4513</span></li>
<li><span id="YangNCK19">Yang, K.-C., Niven, T., Chou, T. H., &amp; Kao, H.-Y. (2019). Fill the GAP: Exploiting BERT for Pronoun Resolution. <i>Proceedings of the First Workshop on Gender Bias in Natural Language Processing</i>, 102–106. Retrieved from https://www.aclweb.org/anthology/W19-3815</span></li>
<li><span id="YangNK19">Fake News Detection as Natural Language Inference. (2019). <i>WSDM Cup</i>. Presented at the Melbourne, Australia. Retrieved from https://people.eng.unimelb.edu.au/jianzhongq/wsdm19-cup-reports/reports/report3.pdf</span></li></ol>

<h2 id="2018">2018</h2>

<ol class="bibliography"><li><span id="NivenK18">Niven, T., &amp; Kao, H.-Y. (2018). NLITrans at SemEval-2018 Task 12: Transfer of Semantic Knowledge for Argument Comprehension. <i>Proceedings of The 12th International Workshop on Semantic Evaluation</i>, 1099–1103. https://doi.org/10.18653/v1/S18-1185</span></li></ol>
`;
---

<Layout title="Publications">
  <h1>Publications</h1>
  <Fragment set:html={bibliographyHtml} />
</Layout>
